{% extends 'base.html' %}
{% block title %}Chat{% endblock title %}
{% block body %}
{% csrf_token %}

<div style="margin: 5px; width: 97%; height: 81vh;" class="slate-container">


    <div class="flex-row" style="height: 97%;">

        <div id="chats-list">
            {% for chat in CHATS %}
            <div class="chat-head" id="chat-{{chat.id}}" onclick="setActiveChat({{chat.id}});">
                {{chat}}
            </div>
            {% endfor %}

        </div>



        <div id="active-chat" class="flex-column">
            <div id="chat-display" style="height: 90%;">

                <div id="active-chat-header">

                </div>

                <div id="messages" class="flex-column"></div> <!-- Fetch and pastes messages from the server -->
            </div>


            <div id="sendmessage_hud">

                <div style="color: #FFDD34;" id="send_msg" class="fas fa-laugh sendmessage_hud_icon"></div>
                <textarea placeholder="Type your message here..." name="sendmessage_textarea" id="sendmessage_textarea"
                    disabled
                    onkeypress="if (event.keyCode == 13){event.preventDefault(); sendChatMessage(); }"></textarea>
                <div id="send_msg" onclick="sendChatMessage()" class="fas fa-paper-plane sendmessage_hud_icon"></div>

                <input type="hidden" id="chat_id" value="">

            </div>
        </div>



    </div>



    <script>
        let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value;

        let active_chat_id = null;

        function setActiveChat(chat_id) {
            try {
                document.getElementsByClassName('active_chat_head')[0].classList.remove('active_chat_head');
            } catch { };
            document.getElementById('chat-' + chat_id).classList.add('active_chat_head');

            fetchMessages(chat_id);
            active_chat_id = chat_id;

            document.getElementById('sendmessage_textarea').disabled = false;

        }
        //      |
        function fetchMessages(chat_id) {

            let form = new FormData(); // Add Data to be sent to this 'form'

            form.set('chat_id', chat_id)

            fetch(`fetch_messages`,
                {
                    method: 'POST',
                    body: form,
                    headers: {
                        'Accept': 'multipart/form-data, application/json, text/plain, */*',
                        "X-CSRFToken": csrftoken
                    },
                })
                .then(response => response.json())
                .then(data => {
                    // console.log(data);
                    if (data.SUCCESS) {
                        pasteMessages(data.MESSAGES);
                    }

                });
        }
        //      |
        function pasteMessages(MESSAGES) {

            let chatHTML = ``;

            for (let message in MESSAGES) {
                let msg = MESSAGES[message];
                // console.log(msg);

                // Vars
                let oorin = 'outer';

                if (msg.AUTHOR == '{{user}}') {
                    oorin = 'inner';
                }

                let htmlsnippet = `
                <div class="message-wrapper">
                    <div class="message-author ${oorin}_message-author ">
                        <img src="http://127.0.0.1:8000/username_profilepic-${msg.AUTHOR}" alt="">
                    </div>
                    <div class="message ${oorin}_message" id="${msg.ID}">
                        <div class="message-text">
                            ${msg.TEXT}
                        </div>

                        <div class="message-sent-time" id="message-sent-time-${msg.ID}">
                            ${msg.TIME_SENT}
                        </div>

                    </div>
                </div>
                `;

                chatHTML += htmlsnippet;


            }

            document.getElementById('messages').innerHTML = chatHTML;

            let active_chat = document.getElementById("messages");
            active_chat.scrollTop = active_chat.scrollHeight;



        }

        function pasteMessage(MESSAGE) {


            let oorin = 'outer';
            if (MESSAGE.AUTHOR == '{{user}}') oorin = 'inner';

            let H = `
                <div class="message-wrapper">
                    <div class="message-author ${oorin}_message-author ">
                        <img src="http://127.0.0.1:8000/username_profilepic-${MESSAGE.AUTHOR}" alt="">
                    </div>
                    <div class="message ${oorin}_message" id="${MESSAGE.ID}">
                        <div class="message-text">
                            ${MESSAGE.TEXT}
                        </div>

                        <div class="message-sent-time" id="message-sent-time-${MESSAGE.ID}">
                            ${MESSAGE.TIME_SENT}
                        </div>

                    </div>
                </div>
                `;

            if (active_chat_id == MESSAGE.CHAT_ID) {
                document.getElementById('messages').innerHTML += H;

                let active_chat = document.getElementById("messages");
                active_chat.scrollTop = active_chat.scrollHeight;
            }

        }

        let CHAT_SOCKET_IDS = [];
        let WS_CHAT_JSONS = {};

        function sendChatMessage() {
            let text = document.getElementById('sendmessage_textarea').value;
            if (text.trim().length == 0) {
                return null;
            }

            const CHATSOCKET_ID = String(Date.now());

            CHAT_SOCKET_IDS.push(CHATSOCKET_ID);

            let __ID__ = String(Date.now());

            const WS_CHAT_JSON = {
                "__ID__": __ID__,

                "__TYPE__": 'CHAT_MESSAGE',
                "CONTENT": {
                    "CHAT_ID": active_chat_id,
                    "MESSAGE": {
                        "TEXT": text,
                    }
                }

            }

            serverSocket.send(JSON.stringify({ "__MESSAGE__": WS_CHAT_JSON }));

            WS_CHAT_JSONS[__ID__] = WS_CHAT_JSON;

        }

        function friskChatMessageSocket(data) {
            const SOCKETMSG_ID = data.__ID__;

            if (CHAT_SOCKET_IDS.includes(SOCKETMSG_ID)) {
                CHAT_SOCKET_IDS.splice(CHAT_SOCKET_IDS.indexOf(SOCKETMSG_ID), 1); // Deletes the ID -- Since Response regarding the message has come back from the server


                const CONTENT = data.CONTENT;

                if (CONTENT.MESSAGE.SUCCESS) {

                    let msg = WS_CHAT_JSONS[data.__ID__].CONTENT;
                    // Adjust the JSON and pass it to the paster

                    msg.TEXT = msg.MESSAGE.TEXT;
                    msg.AUTHOR = CONTENT.MESSAGE.AUTHOR;
                    msg.ID = CONTENT.MESSAGE_ID;
                    msg.TIME_SENT = CONTENT.MESSAGE.TIME_SENT;

                    console.log("MESSAGE JS:", msg);
                    pasteMessage(msg);

                }
                else {
                    for (let i = 0; i < CONTENT.MESSAGE.ERRORS.length; i++) {
                        const error = CONTENT.MESSAGE.ERRORS[i];
                        createAlertMessage('error', error);
                    }
                }
            }

        }




    </script>



</div>
{% endblock body %}