@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --ORANGEISH: #EE4036;
    --ORANGEISH__fade1: rgba(238, 63, 54, 0.8);
    --ORANGEISH__fade2: rgba(238, 63, 54, 0.5);
    --ORANGEISH__fade3: rgba(238, 63, 54, 0.3);
    --YELLOWISH: #FAAF40;
    --YELLOWISH__fade1: rgba(250, 176, 64, 0.8);
    --YELLOWISH__fade2: rgba(250, 176, 64, 0.5);
    --YELLOWISH__fade3: rgba(250, 176, 64, 0.3);
    --SUCCESS: #026e02;
    --WARNING: #b16c03;
    --ERROR: #9d0404;
    --INFO: #0b97b6;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: 'Exo', sans-serif;
}

body {
    background-color: #000000;
    /* overflow-x:visible; */
}

/* TEXT DECOR */

.italic {
    font-style: italic;
}

.underline {
    font-style: underline;
}

.fnt-extra-xxx {
    font-size: 220px;
}

.fnt-xx-big {
    font-size: 80px;
}

.fnt-x-big {
    font-size: 50px;
}

.fnt-big {
    font-size: 40px;
}

.fnt-med {
    font-size: 30px;
}

.fnt-small {
    font-size: 20px;
}

.fnt-x-small {
    font-size: 15px;
}

.fnt-xx-small {
    font-size: 10px;
}

.orange-text {
    color: var(--ORANGEISH);
}

hr {
    border: 1px solid #555;
}

input[type='checkbox']:focus {
    transform: translate(0, 0);
}

/* input[type='checkbox']:hover {} */

input[type='checkbox']::before {
    display: block;
    text-align: center;
}

input[type='checkbox']:checked {
    background-color: #EE4036;
}

input[type='checkbox'] {
    width: min-content;
    -webkit-appearance: none;
    padding: 6px;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    margin: 0;
    /* border: 1px solid var(--ORANGEISH); */
    border-radius: 3px;
    outline: none;
    transition-duration: 0.3s;
    background-color: var(--ORANGEISH__fade3);
    cursor: pointer;
}

input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}

input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
}

input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black;
}

input:hover {
    background-color: #888;
}

input:required {
    border: 1px solid var(--YELLOWISH__fade1);
}

input:focus {
    transform: translate(-3px, -3px);
    background-color: var(--ORANGEISH__fade1);
    font-weight: 500;
}

input {
    transition: 0.2s;
    border: none;
    outline: none;
    padding: 5px;
    margin: 3px;
    border-radius: 5px;
    background-color: #666;
    width: 250px;
}

button:active {
    transform: rotate(-5deg);
    background-color: var(--ORANGEISH);
}

button:hover {
    background-color: var(--ORANGEISH__fade1);
    /* transform: translate(-3px, -3px); */
    color: whitesmoke;
}

a {
    color: var(--ORANGEISH);
}

button:disabled {
    background-color: var(--YELLOWISH__fade3);
}

button {
    color: #202020;
    background-color: var(--YELLOWISH__fade1);
    outline: none;
    transition: 0.2s;
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    font-weight: 600;
}

/* FLEXy */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column-reverse {
    display: flex;
    flex-direction: column-reverse;
}

.flex-grow {
    flex-grow: 1;
}

.flex-grow div {
    flex-grow: 1;
}

.flex-object {
    margin: 5px;
    padding: 10px;
}

.interactive_clickable:hover {
    transform: translate(-4px, -4px);
    box-shadow: 2px 2px 3px black;
    padding: 0px 3px;
    border-radius: 5px;
}

.interactive_clickable:active {
    transform: translateY(0px);
}

.interactive_clickable {
    user-select: none;
    display: inline-block;
    cursor: default;
    transition: 0.2s;
}

.mainheader {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    box-shadow: 0 5px 8px -6px #EE4036;
}

.innerheader {
    width: 80%;
    /* background-color: blue; */
    display: block;
    height: 100%;
    margin: 0 auto;
}

.headerlogocontainer:hover {
    box-shadow: 0 10px 8px -6px #EE4036;
}

.headerlogocontainer {
    float: left;
    user-select: none;
    display: table;
    height: 100%;
    box-shadow: 0 8px 6px -6px #EE4036;
}

#mainlogo {
    font-size: 40px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
}

.navigationmenu:hover {
    box-shadow: 0 10px 8px -6px #EE4036;
}

.navigationmenu {
    float: right;
    height: 100%;
    display: table;
    box-shadow: 0 8px 6px -6px #EE4036;
}

.navigationmenu_item_img {
    border-radius: 50%;
    transition: 0.2s;
}

.navigationmenu_item_img img {
    width: 38px;
    object-fit: contain;
    border-radius: 50%;
}

.navigationmenu_item_img:hover {
    transform: translate(-5px, -5px);
}

.navigationmenu_item {
    font-size: 20px;
    display: table-cell;
    padding: 0 8px;
    vertical-align: middle;
}

.slate-container {
    background-color: #202020;
    padding: 10px;
    margin: 10px;
    height: 80vh;
    width: 96%;
    border-radius: 3px;
    box-shadow: 2px 2px 3px var(--YELLOWISH);
}

.social_login img {
    width: 25px;
}

.social_login:hover {
    transform: translateY(-2px);
}

.social_login:active {
    transform: translateY(0px);
}

.social_login {
    padding: 10px;
    background: #000000;
    border-radius: 3px;
}

.noselect {
    user-select: none;
}

.orange_neon:hover {
    box-shadow: 0 9px 9px -4px var(--ORANGEISH);
}

.orange_neon:active {
    box-shadow: 0 6px 8px -4px var(--ORANGEISH);
}

.orange_neon {
    transition: 0.1s;
    background-color: #000000;
    box-shadow: 0 5px 7px -4px var(--ORANGEISH);
}

/* Tooltip container */

.tooltip {
    position: relative;
}

/* Tooltip text */

.tooltip .tooltiptext {
    font-size: 15px;
    display: none;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    right: 0;
    /* bottom: -65px; */
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */

.tooltip:hover .tooltiptext {
    display: inline-block;
}

.signin-parent-container:hover {
    /* border: 1px solid salmon; */
    padding: 13px;
}

.signin-parent-container {
    border-radius: 5px;
    transition: 0.2s;
    height: 100%;
}

.loading-gif-img {
    width: 100%;
}

/* ALERT BOX */

#alert-box-container {
    /* background: red; */
    position: fixed;
    right: 0;
    top: 10%;
    z-index: 6;
    /* max-height: 386px;
    overflow-y: hidden; */
}

.alert-box a {
    transition: 0.2s;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px black;
}

.alert-box a:hover {
    text-shadow: 2px 2px 2px black;
    transition: 0.2s;
}

.enterAlert {
    animation-name: easein_R;
    animation-duration: 0.2s;
}

.exitAlert {
    animation-name: easeout_R;
    animation-duration: 0.6s;
}

@keyframes easeout_R {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(-20%, 0);
    }
    30% {
        transform: translate(-20%, 0);
    }
    100% {
        opacity: 0;
        transform: translate(140%, 0);
    }
}

@keyframes easein_R {
    0% {
        transform: translate(140%, 0);
    }
    100% {
        transform: translate(0, 0);
    }
}

.alert-box {
    transition: 0.2s;
    background-color: #101012;
    color: goldenrod;
    box-shadow: 1px 1px 2px goldenrod;
    padding: 10px;
    border-radius: 5px;
    max-width: 375px;
    margin: 5px;
    user-select: none;
    font-weight: 600;
    z-index: 6;
    position: initial;
    /* background: #D4EDDA; */
}

/* TAGS */

.warning {
    color: goldenrod;
    box-shadow: 1px 1px 2px goldenrod;
}

.warning:hover {
    box-shadow: 1px 1px 8px goldenrod;
}

.error {
    color: red;
    box-shadow: 1px 1px 2px red;
}

.error:hover {
    box-shadow: 1px 1px 8px red;
}

.success {
    color: #03a503;
    box-shadow: 1px 1px 2px #03a503;
}

.success:hover {
    box-shadow: 1px 1px 8px #03a503;
}

.info {
    color: #5599FF;
    box-shadow: 1px 1px 2px #5599FF;
}

.info:hover {
    box-shadow: 1px 1px 8px #5599FF;
}

.alert-icon {
    margin-right: 10px;
    margin-left: 3px;
    /* border-left: 3px solid rgba(255, 145, 0, 0.808); */
}

.alert-message {
    padding: 10px;
    padding-right: 14px;
    font-size: 16px;
    margin-right: 25px;
}

.alert-closebtn {
    float: right;
    padding: 3px;
    margin-left: 8px;
    transition: 0.2s;
}

.alert-closebtn:hover {
    background: rgba(0, 0, 0, 0.219);
}

/* ALERT BOX END */


#interactive_gitbg {
    background-color: #181818;
    background-image: url('https://wallpaperaccess.com/full/3415005.jpg');
    background-position: 60vw 68vh;
    transition: 0.1s;
    background-size: 60%;
    background-repeat: no-repeat;
}


/* FOR PHONES */

@media only screen and (max-device-width: 640px) {
    .navigationmenu_item_img img {
        width: 20px;
    }
    #mainlogo {
        font-size: 30px;
    }
    #automateeverything {
        display: none;
    }
    .row-responsive {
        flex-direction: column;
        overflow: auto;
    }
    hr {
        display: none;
    }
    input {
        width: 90%;
    }
    .slate-container {
        height: 100%;
        margin: 0;
        padding: 0%;
        width: 100%;
    }
}

/* SCROLLBAR */

/* width */

::-webkit-scrollbar {
    width: 7px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #303030;
    border-radius: 5px;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}