{% extends 'base.html' %}
{% block title %}Create Automation{% endblock title %}
{% block body %}


{% if not USER_IS_DEV %}
<div class="slate-container" id="interactive_gitbg" style="height: 80vh;">
    <h1>You need to <span id="show_octocat" class="orange-text interactive_clickable" onclick="showDeveloperForm()">Turn
            on Developer
            Mode</span> to create Automations</h1>

    <form action="/updateusertodev" id="developer_form" method="POST" style="display: none;">
        {% csrf_token %}
        <br><br>
        <input type="text" class="fnt-small" style="width: 90%;" id="github_username" name="github_username"
            placeholder="Your GitHub Username" autocomplete="off">

        <button class="fnt-x-small" type="button" id="update_gh_username"
            onclick="submitGitHubUsername()">Update</button>

    </form>

</div>
<script>
    let doOctoAnimations = true;
    function showDeveloperForm() {
        doOctoAnimations = false;
        document.getElementById('interactive_gitbg').style.backgroundPositionY = '40vh';
        document.getElementById('developer_form').style.display = 'block';
    }
    // UI for Octocat
    document.getElementById('show_octocat').onmouseover = () => {
        if (doOctoAnimations) document.getElementById('interactive_gitbg').style.backgroundPositionY = '55vh';
    }
    document.getElementById('show_octocat').onmouseout = () => {
        if (doOctoAnimations) document.getElementById('interactive_gitbg').style.backgroundPositionY = '68vh';
    }

    function submitGitHubUsername() {
        let ERRORS = 0;
        pushLoaderUI(document.getElementById('update_gh_username')); // Update
        let gh_username = document.getElementById('github_username').value;

        fetch(`https://api.github.com/users/${gh_username}`).then(response => response.json())
            .then(data => {
                if (data.message == 'Not Found') {
                    createAlertMessage('error', "GitHub Username Does Not Exist!");
                    removeLoaderUI(document.getElementById('update_gh_username'), "Update");
                    return null;
                }

                // Check if any Other User is there with this username!
                let csrftoken = document.getElementsByName('csrfmiddlewaretoken')[0].value; // Add `{% csrf_token %}` in your HTML somewhere above this line of code
                let form = new FormData(); // Add Data to be sent to this 'form'

                form.append('gh_username', gh_username);

                fetch(`gh_usernameexists`,
                    {
                        method: 'POST',
                        body: form,
                        headers: {
                            'Accept': 'multipart/form-data, application/json, text/plain, */*',
                            "X-CSRFToken": csrftoken
                        },
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data);

                        if (data.SUCCESS != true) {
                            for (errorId in data.ERRORS) {
                                createAlertMessage('error', data.ERRORS[errorId]);
                                removeLoaderUI(document.getElementById('update_gh_username'), "Update");
                                return null;
                            }
                        }
                        else {
                            document.getElementById('developer_form').submit();
                        }

                    });

            });
    }

</script>

{% else %}
<div class="slate-container">

    <h3 class="fnt-med">Create a new Automation to help the World</h3><br><br>

    <form action="" method="post" id="automation_form">


        <input style="width: 60%;" type="text" name="brief_explanation" id="brief_explanation"
            placeholder="A brief Explanation of 150 words" required><br><br>


        <select style="width: 61%;" name="languagewrittenin" id="languagewrittenin" required>
            <option value="None" selected disabled>Choose the Programming Language</option>
            {% for language, show in PROGRAMMING_LANGUAGES.items %}
            <option value="{{language}}">{{show}}</option>
            {% endfor %}
        </select><br><br>


        <select style="width: 61%;" name="platform_os" id="platform_os" required>
            <option value="None" selected disabled>Choose the Platform OS</option>
            {% for os, show in OS_PLATFORMS.items %}
            <option value="{{os}}">{{show}}</option>
            {% endfor %}
        </select><br><br>

        <input style="width: 60%;" type="text" name="github_repo_URL" id="github_repo_URL"
            placeholder="Choose your public GitHub Repository" required>

        <div id="github_repositories">
            <!-- GitHub API fetch and paste Repos here -->
        </div>
        <br>

        <textarea style="width: 60%; height: 100px;" type="text" name="readme" id="readme"
            placeholder="A descriptive README.md please"></textarea>

            <br><br>

        <h5 class="fnt-x-small">Choose upto 3 Commands (Imagine you are talking to an AI, type command should the AI get to execute this Automation):</h5>
        <div id="commands">
            <input class="command" placeholder="FIX THE LED"><br>
            <input class="command" placeholder="FIX THE BULB"><br>
            <input class="command" placeholder="FIX THE LIGHT"><br>
        </div>
        <style>
            .command{
                padding: 3px;
                margin: 3px;
                width: 90%;
                background-color: #505050;
                user-select: none;
            }
            #commands{
                margin: 10px 0;
                background-color: #151511;
                border-radius: 3px;
                padding: 5px;
                width: 60%;
            }
        </style>

    </form>
</div>
<script>
    let gh_username = '{{GH_USERNAME}}';
    let url = `https://api.github.com/users/${gh_username}/repos`;
    let GHLOAD_ENDMSG = 'Failed';
    // Get All The Public Repositories of the user
    let repo_parent_container = document.getElementById('github_repositories');
    pushLoaderUI(repo_parent_container);
    fetch(url).then(response => response.json()).then(data => {
        // console.log(data[0]);

        GHLOAD_ENDMSG = '';
        removeLoaderUI(repo_parent_container, '');

        for (let repoindex in data) {
            if (!data[repoindex]["disabled"] && !data[repoindex]["archived"]) {
                // console.log(data[repoindex]);

                repo_parent_container.innerHTML += `
                
                <div class="github_repo orange_neon" ondblclick="window.open('https://github.com/${data[repoindex]["full_name"]}', '_blank')">
                    ${data[repoindex]["name"]}
                </div>
                `;

            }
        }
    });
    if (GHLOAD_ENDMSG != '') {
        // removeLoaderUI(repo_parent_container, GHLOAD_ENDMSG);
    }


</script>

{% endif %}
{% endblock body %}