{% extends 'base.html' %}
{% block title %}Login{% endblock title %}
{% block body %}

<div class="slate-container">
    <div class="flex-row row-responsive">
        <div class="flex-object">
            <div class="fnt-med">SIGN IN</div>
            
            <br><br>
            <div class="signin-container">
                <input type="text" name="username" id="username" placeholder="Username"><br><br>
                <input type="password" name="password" id="password" placeholder="Password"><br>
            </div>
            
        </div>
        
        
        
        
        <hr style="height: 70vh;">
        <div class="flex-object flex-grow">
            <div class="fnt-med">SIGN UP</div>
        
        </div>


    </div>
    
</div>



{% endblock body %}